<div class="filter filter-bar btn btn-warning">
<!-- <div class='btn btn-default'> -->
  <label>Filter By&nbsp;</label>
  <%= text_field :job, :filter_all, class: "filter-field" %>
</div>
<!-- </div> -->
