<div class="page-content">
  <h2>All jobs</h2>
  <div class="filter">
    <div class="row well col-md-10">
      <label>Filter By</label>
      <%= select :job, :filter_location, @locations, {:prompt => 'Location'} %>
      <%= select :job, :filter_salary, @salaries, {:prompt => 'Salary'} %>
    </div>
  </div>
  <br>
  <%= render partial: 'shared/job_list' %>
</div>
