<div class='page-content'>
  <center>
  <h2>Create New Account</h2>
</center>

  <div class="well col-md-4 col-md-offset-4 pull-center">
    <%= render partial: 'shared/login_form', locals: {target: @user, path: users_path, button: "Create Account", btn_class: "success"} %>
  </div>
</div>
