<div class="well col-md-8 center">
  <center>
    <p>Looking for a job? Why not..</p>
    <h1><font face='Passion One' size="50px">Start Monday</font></h1>
    We've helped 50 bajillion people find jobs. And we can help you.
    <p><strong><font face='Montserrat'>Job searching is hard, we make it easy.</font></strong></p>
    <BR>
    <p>
      <%= link_to 'Explore Companies', companies_path, class: 'btn btn-lg btn-danger pull-center' %>
      <%= link_to 'Search Jobs', jobs_path, class: 'btn btn-lg btn-danger pull-center' %>

    </p>
  </center>
</div>
