<div class="container home-banner">
  <div class="jumbotron text-centered">
    <center>
      <h4>Looking for a job?</h4>
      <h1>MakeMyPayday</h1>
      
      We've helped 50 bajillion people find jobs. And we can help you.
      <p><strong>Job searching is hard, we make it easy.</strong></p>
      <BR>
      <p>
        <%= link_to 'Explore Companies', companies_path, class: 'btn btn-lg btn-companies pull-center' %>
        <%= link_to 'Search Jobs', jobs_path, class: 'btn btn-lg btn-jobs pull-center' %>

      </p>
    </center>
  </div>
</div>
