<div class="row text-center">
  <div class="jumbotron">
      <h1>All Companies</h1><br/>
  </div>
</div>
<div class="container">
    <div class="row">
    <%@companies.each do |company|%>
    <div class="well well-lg">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h4><%=company.name%></h4>
          </div>
           <div class="panel-body format-panel">
              <p><%= company.location %></p>
              <p><%= company.description %></p>
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>
</div>
