<div class="page-content">
  <p></p>
  <div class="well col-md-10">
    <%= image_tag(@company.img_path, class: "company-image", alt: @company.name) %>
    <h1>Industry: <%= @company.industry.name %></h1>
    <h4>Description: <%= @company.description %></h4>
    <br>
    <h1>All Jobs</h1>
  <%= render partial: 'shared/job_list', locals: { btn_label: 'Add to Cart', btn_class: 'default', status: false } %>
  </div>
</div>
