<div class="page-content">
  <h1>Open Applications</h1>
  
  <% @bucket_applications.each do |application| %>
    <div class="well col-md-8 table-responsive jobs-list">
      <table class="table">
        <thead>
          <tr>
            <td colspan="5" class="text-left">
              Job Position: <%= application.job.title.upcase %>
            </td>
          <tr>
            <th>Summary Paragrah</th>
            <th>Status</th>
            <th><%= button_to "Complete this Application", edit_job_application_path(application), method: :get %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= application.summary %></td>
            <td>Open</td>
            <td><%= button_to "Remove this Application", bucket_application_path(application), method: :delete %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
  