@import "variables";

body {
  font-family: $font-stack;
}

.home-banner {
  opacity: .9;
  margin-top: 10%;
}

.site-name {
  font-size: 1.4em;
  color: $site-name-color
}
.site-name:hover {
  color: $site-name-color
}
